<!DOCTYPE html>
<html>
    <head>
        <title>Upload Your Image</title>
    </head>
    <body>
        <h2 style="text-align: center;">How thee!</h2>
        <form enctype="multipart/form-data" style="width: 370px; margin: auto;">
            <input type="file" accept="image/x-png,image/gif,image/jpeg,image/jpg" id="image">
            <input type="submit" value="Upload Image" id="btn--upload">
        </form>
        <div class="imageLink">

        </div>
        <script src="/scripts/index.js"></script>
    </body>
</html>